---
import MainLayout from "../../layouts/mainlayout.astro";
---

<MainLayout>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><b>Abbey Kudma: Freshman</b></h1>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col-sm-3 text-center">
                <img class="contactphoto mx-auto d-block img-fluid" src="/Images/profile/NoProfilePic.jpg"
                    alt="Abbey Kudma" transition:name="AbbeyKudma">
                <br>
                <p><b>Major:</b> Secondary Education Mathematics</p>
                <p><b>Home Town:</b> Omaha, Nebraska</p>
                <p><b>Previous School:</b> Concordia Jr/Sr HS</p>
                <p><b>Games:</b> League of Legends</p>
            </div>
            <div class="col-sm-9">
                <br>
                <h2><b>Career:</b></h2>
                <hr>
                <h6><b>2023-2024: Freshman</b></h6>
                <p></p>
                <br>

                <br>
                <h2><b>Personal:</b></h2>
                <hr>

                <h5><b>Why did you choose Concordia?</b></h5>
                <p>I grew up attending what was called the gathering of the talents here at CUNE, preforming in both art
                    and music categories. Due to having been here many times, I knew that I would be very comfortable on
                    the campus. In addition to this, I was very excited to further my Christian education and attend a
                    school known for their education department.</p>

                <br>

                <h5><b>Why did you choose Esports?</b></h5>
                <p>I chose to be a part of the Esports team because of the friendships I knew I could make. I never
                    played many games throughout high school; however, I often would watch my friends as they played and
                    competed. This said, I wanted to start to play the games alongside them, so that is just what I did.
                </p>

                <br>

                <h5><b>What other hobbies do you enjoy?</b></h5>
                <p>I have many activities that I enjoy. For example, here at CUNE I am also a trumpet player for the
                    wind symphony. In addition to this I also greatly enjoy reading, writing, trap shooting, and
                    softball. Most of all, however, I love to learn about other places and cultures, including their
                    languages. It is for this purpose that I am getting my minors in both Mandarin Chinese and World and
                    Intercultural Studies.</p>

                <br>

                <h5><b>Favorite memory about Esports so far?</b></h5>
                <p>I have enjoyed play this game called loldle alongside some of my team. Loldle tests your knowledge on
                    different League of Legends champions which has helped me to learn the game I play better. </p>

                <br>

            </div>
        </div>
    </div>


</MainLayout>