---
import MainLayout from "../../layouts/mainlayout.astro";
---

<MainLayout>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><b>Abraham Gomez Jr: Freshman</b></h1>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col-sm-3 text-center">
                <img class="contactphoto mx-auto d-block img-fluid" src="Images/profile/NoProfilePic.jpg"
                    alt="Abraham Gomez Jr." transition:name="AbrahamGomez">
                <br>
                <p><b>Major:</b> Computer Science and Mathmatics</p>
                <p><b>Home Town:</b> Alliance, NE</p>
                <p><b>Previous School:</b> Alliance HS</p>
                <p><b>Games:</b> Overwatch</p>
            </div>
            <div class="col-sm-9">
                <br>
                <h2><b>Career:</b></h2>
                <hr>
                <h6><b>2023-2024: Freshman</b></h6>
                <p></p>
                <br>

                <br>
                <h2><b>Personal:</b></h2>
                <hr>

                <h5><b>Why did you choose Concordia?</b></h5>
                <p>I chose Concordia for the faith aspect primarily. I wanted to find a close faithful friend group. I
                    was also recommended Concordia by multiple people, so I figured the education here is pretty good.
                    It is also a small town like my hometown, so it made my parents more comfortable living so far out.
                </p>

                <br>

                <h5><b>Why did you choose Esports?</b></h5>
                <p>I love video games as they are my cope. I have always been above average in the video games I play,
                    so I figured I’d give competitive gaming a shot. It definitely is a learning curve, but I’m
                    improving. I also figured Esports would solve my “fitting in gaming with studies” issue. </p>

                <br>

                <h5><b>What other hobbies do you enjoy?</b></h5>
                <p>I enjoy basketball and tennis as I like to be active. I occasionally like to work out and hang with
                    friends as well. Board game nights are hype too. </p>

                <br>

                <h5><b>Favorite memory about Esports so far?</b></h5>
                <p>My favorite memory in esports so far was hitting an amazing Bastion ult during a scrim match. We
                    weren’t losing the game by any means but hitting that ult killed many members of the opposing team,
                    allowing us the momentum to win the point. </p>


                <br>

            </div>
        </div>
    </div>

</MainLayout>