---
import MainLayout from "../../layouts/mainlayout.astro";
---

<MainLayout>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><b>Andrew Fynaardt: Sophomore</b></h1>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col-sm-3 text-center">
                <img class="contactphoto mx-auto d-block img-fluid" src="Images/profile/AndrewFynaardt.jpeg" alt="AndrewFynaardt" transition:name="AndrewFynaardt">
                <br>
                <p><b>Major:</b> Computer Science and Mathmatics</p>
                <p><b>Home Town:</b> Oskaloosa, Iowa</p>
                <p><b>Previous School:</b> Pella Christian HS</p>
                <p><b>Games:</b> Overwatch & Valorant</p>
            </div>
            <div class="col-sm-9">
                <br>
                <h2><b>Career:</b></h2>
                <hr>
                <h6><b>2023-2024: Sophomore</b></h6>
                <p></p>
                <br>

                <br>
                <h2><b>Personal:</b></h2>
                <hr>

                <h5><b>Why did you choose Concordia?</b></h5>
                <p>I choose Concordia because I wanted a small school with Christian values. I also chose Concordia
                    because of the shooting sports team which is my primary sport. I like the computer science and math
                    programs here as well.</p>

                <br>

                <h5><b>Why did you choose Esports?</b></h5>
                <p>I chose to join esports this year because I enjoy playing games in my free time. The team competed on
                    the games I enjoy playing so I thought I would join the team to try it.</p>

                <br>

                <h5><b>What other hobbies do you enjoy?</b></h5>
                <p>Another hobby I enjoy is shooting sports. Skeet shooting is my favorite but I enjoy sporting as well.
                </p>

                <br>

                <h5><b>Favorite memory about Esports so far?</b></h5>
                <p>My favorite memory since joining the esports team is meeting new people and playing games with them.
                    I haven’t been on the team for too long but it has been fun so far having teammates to play with.
                </p>

                <br>

            </div>
        </div>
    </div>
</MainLayout>