---
// Imports the header and footer from Main Layout. Can be seen on every screen.
import MainLayout from "../../layouts/mainlayout.astro";
---

<MainLayout>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><b>Cody Bender: Senior</b></h1>
            </div>
            <hr>
        </div>

        <!-- Players personal information and image of the player. -->
        <div class="row">
            <div class="col-sm-3 text-center">
                <img class="contactphoto mx-auto d-block img-fluid" src="/Images/profile/NoProfilePic.jpg"
                    alt="Cody Bender" transition:name="CodyBender">
                <br>
                <p><b>Major:</b> Christian Education Leadership and Psychology</p>
                <p><b>Home Town:</b> Utica, Nebraska</p>
                <p><b>Previous School:</b> Centennial HS</p>
                <p><b>Games:</b> Overwatch & League of Legends</p>
            </div>
            
            <div class="col-sm-9">
                <br>
                <h2><b>Career:</b></h2>
                <hr>
                <h6><b>2023-2024: Senior</b></h6>
                <p></p>
                <br>

                <!-- Questions that each player answered. Provides more information/background on the player. -->
                <br>
                <h2><b>Personal:</b></h2>
                <hr>

                <h5><b>Why did you choose Concordia?</b></h5>
                <p>I originally came to wrestle but after to many surgeries I switched to esports. I also came for the
                    Christian Atmosphere.</p>

                <br>

                <h5><b>Why did you choose Esports?</b></h5>
                <p>I choose esports because I wanted to help build and be involved in a program at CUNE.<p>

                        <br>

                        <h5><b>What other hobbies do you enjoy?</b></h5>
                        <p>Playing guitar, Weightlifting, and singing.</p>

                        <br>

                        <h5><b>Favorite memory about Esports so far?</b></h5>
                        <p>Favorite memory has to be the Mt. Dew wall or the time we randomly got a basketball hoop.</p>

                        <br>

            </div>
        </div>
    </div>

</MainLayout>