---
// Imports the header and footer from Main Layout. Can be seen on every screen.
import MainLayout from "../../layouts/mainlayout.astro";
---

<MainLayout>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><b>Collin Curtis: Sophomore</b></h1>
            </div>
            <hr>
        </div>

        <!-- Players personal information and image of the player. -->
        <div class="row">
            <div class="col-sm-3 text-center">
                <img class="contactphoto mx-auto d-block img-fluid" src="/Images/profile/CollinCurtis.jpeg" 
                alt="Collin Curtis" transition:name="CollinCurtis">
                <br>
                <p><b>Major:</b> Secondary Ed Social Science</p>
                <p><b>Home Town:</b> Oconomowoc, Wisconsin </p>
                <p><b>Previous School:</b> Lake Country Lutheran </p>
                <p><b>Games:</b> Overwatch and Smash Bros</p>
            </div>
            
            <div class="col-sm-9">
                <br>
                <h2><b>Career:</b></h2>
                <hr>
                <h6><b>2023-2024: Sophomore</b></h6>
                <p></p>
                <br>

                <!-- Questions that each player answered. Provides more information/background on the player. -->
                <br>
                <h2><b>Personal:</b></h2>
                <hr>

                <h5><b>Why did you choose Concordia?</b></h5>
                <p>I chose Concordia because of their great education program. I also came here because of esports and
                    just to get away from home.</p>

                <br>

                <h5><b>Why did you choose Esports?</b></h5>
                <p>I like playing Overwatch. Making new friends here is always easy. </p>

                <br>

                <h5><b>What other hobbies do you enjoy?</b></h5>
                <p>II like playing Overwatch. Making new friends here is always easy. </p>

                <br>

                <h5><b>Favorite memory about Esports so far?</b></h5>
                <p>Getting second in our conference last year. Meeting the other people here.</p>

                <br>

            </div>
        </div>
    </div>

</MainLayout>