---
import MainLayout from "../../layouts/mainlayout.astro";
---

<MainLayout>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><b>Denny Mcatee: Freshman</b></h1>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col-sm-3 text-center">
                <img class="contactphoto mx-auto d-block img-fluid" src="Images/profile/DennyMcatee.jpeg" alt="Denny Mcatee" transition:name="DennyMcatee">
                <br>
                <p><b>Major:</b> Psychology</p>
                <p><b>Home Town:</b> St. Louis, Missouri </p>
                <p><b>Previous School:</b> Lutheran HS Stcharles </p>
                <p><b>Games:</b> Rocket League & Valorant</p>
            </div>
            <div class="col-sm-9">
                <br>
                <h2><b>Career:</b></h2>
                <hr>
                <h6><b>2023-2024: Freshman</b></h6>
                <p></p>
                <br>

                <br>
                <h2><b>Personal:</b></h2>
                <hr>

                <h5><b>Why did you choose Concordia?</b></h5>
                <p>I had multiple friends who went to the school already and my high school promoted it tons. As I
                    looked into it I realized that I liked the school a ton.</p>

                <br>

                <h5><b>Why did you choose Esports?</b></h5>
                <p>I’ve been playing video games since I’ve been 10, I started with playing on the Xbox and quickly
                    switched to pc. Esports allowed me to express my love of gaming in a team environment. Being on this
                    esports team has allowed me to meet people and make tons of friends.</p>

                <br>

                <h5><b>What other hobbies do you enjoy?</b></h5>
                <p>Some other hobbies I enjoy are going rock climbing and eating foreign food. I’ve been rock climbing
                    since I’ve been playing video games, both hobbies I’ve loved from the first time doing it </p>

                <br>

                <h5><b>Favorite memory about Esports so far?</b></h5>
                <p>My favorite moment I’ve had since I have been in esports was when we won the division finals for
                    valorant. We were down in the finals 2-11 on game 5 of valorant, they we started will rounds. We
                    brought it back and won the finals for the division. We ended the season undefeated.</p>

                <br>

            </div>
        </div>
    </div>

</MainLayout>