---
import MainLayout from "../../layouts/mainlayout.astro";
---

<MainLayout>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><b>Edumar Garcia: Junior</b></h1>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col-sm-3 text-center">
                <img class="contactphoto mx-auto d-block img-fluid" src="/Images/profile/EdumarGarcia.jpeg" 
                alt="Edumar Garcia" transition:name="EdumarGarcia">
                <br>
                <p><b>Major:</b> Rec & Sports</p>
                <p><b>Home Town:</b> Rio Grande City, Texas</p>
                <p><b>Previous School:</b> Rio Grande City HS</p>
                <p><b>Games:</b> Smash Bros.</p>
            </div>
            <div class="col-sm-9">
                <br>
                <h2><b>Career:</b></h2>
                <hr>
                <h6><b>2023-2024: Junior</b></h6>
                <p></p>
                <br>

                <br>
                <h2><b>Personal:</b></h2>
                <hr>

                <h5><b>Why did you choose Concordia?</b></h5>
                <p>I like the environment.</p>

                <br>

                <h5><b>Why did you choose Esports?</b></h5>
                <p>I enjoy play games and being competitive </p>

                <br>

                <h5><b>What other hobbies do you enjoy?</b></h5>
                <p>I enjoy play games and being competitive.</p>

                <br>

                <h5><b>Favorite memory about Esports so far?</b></h5>
                <p>Playing with teammates.</p>

                <br>

            </div>
        </div>
    </div>

</MainLayout>