---
import MainLayout from '../../layouts/mainlayout.astro'
---

<MainLayout>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><b>Ethan Cronin: Senior</b></h1>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col-sm-3 text-center">
                <img class="contactphoto mx-auto d-block img-fluid" src="/Images/profile/EthanCronin.jpeg" 
                alt="Ethan Cronin" transition:name="EthanCronin">
                <br>
                <p><b>Major:</b> Criminal Justice </p>
                <p><b>Home Town:</b> Seneca, South Carolina </p>
                <p><b>Previous School:</b> Rocky Mountain HS</p>
                <p><b>Games:</b> Rocket League & Valorant</p>
            </div>
            <div class="col-sm-9">
                <br>
                <h2><b>Career:</b></h2>
                <hr>
                <h6><b>2023-2024: Senior</b></h6>
                <p></p>
                <br>

                <br>
                <h2><b>Personal:</b></h2>
                <hr>

                <h5><b>Why did you choose Concordia?</b></h5>
                <p>The school is in a small town and it is also a small school. There is also a good CJ program. Also I
                    only hear good thing about the school.</p>

                <br>

                <h5><b>Why did you choose Esports?</b></h5>
                <p>I chose esports because I enjoy playing games. I also got a scholarship for it and that just
                    sweetened the deal.</p>

                <br>

                <h5><b>What other hobbies do you enjoy?</b></h5>
                <p>I enjoy playing games. I am also a outdoors person. I enjoy hunting and fishing. </p>

                <br>

                <h5><b>Favorite memory about Esports so far?</b></h5>
                <p>My favorite memory so far was my junior year Valorant season. I chose this because we went
                    undefeated. We also won the championship that year which was really cool to be apart of.</p>

                <br>

            </div>
        </div>
    </div>

</MainLayout>