---
// Imports the header and footer from Main Layout. Can be seen on every screen.
import MainLayout from "../../layouts/mainlayout.astro";
---

<MainLayout>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><b>Noah Leeper: Junior</b></h1>
            </div>
            <hr>
        </div>

        <!-- Players personal information and image of the player. -->
        <div class="row">
            <div class="col-sm-3 text-center">
                <img class="contactphoto mx-auto d-block img-fluid" src="/Images/profile/NoahLeeper.jpeg" 
                alt="Noah Leeper" transition:name="NoahLeeper">
                <br>
                <p><b>Major:</b> Computer Science</p>
                <p><b>Home Town:</b> Denver, Colorado</p>
                <p><b>Previous School:</b> Homeschool</p>
                <p><b>Games:</b> Overwatch and Valorant</p>
            </div>

            <div class="col-sm-9">
                <br>
                <h2><b>Career:</b></h2>
                <hr>
                <h6><b>2023-2024: Junior</b></h6>
                <p></p>
                <br>

                <!-- Questions that each player answered. Provides more information/background on the player. -->
                <br>
                <h2><b>Personal:</b></h2>
                <hr>

                <h5><b>Why did you choose Concordia?</b></h5>
                <p>I chose Concordia because I had “friends” there as well as brothers who went there in the past. Also
                    Concordia has a very tight and small computer science program which allows for more personal
                    conversations with the professors.</p>

                <br>

                <h5><b>Why did you choose Esports?</b></h5>
                <p>I really like playing games and I thought would be fun to play competitively. I also had talked with
                    coach hinds in the past and he is a very cool person</p>

                <br>

                <h5><b>What other hobbies do you enjoy?</b></h5>
                <p>I like gaming and usually that’s about all I do.</p>

                <br>

                <h5><b>Favorite memory about Esports so far?</b></h5>
                <p>It was really fun to play my first valorant game the experience was just really fun. </p>

                <br>

            </div>
        </div>
    </div>
</MainLayout>