---
import MainLayout from "../../layouts/mainlayout.astro";
---

<MainLayout>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><b>Parker Reece: Junior</b></h1>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col-sm-3 text-center">
                <img class="contactphoto mx-auto d-block img-fluid" src="/Images/profile/ParkerReece.jpeg" 
                alt="Parker Reece" transition:name="ParkerReece">
                <br>
                <p><b>Major:</b> DCE</p>
                <p><b>Home Town:</b> McCordsville, Indiana</p>
                <p><b>Previous School:</b> Mt. Vernon HS</p>
                <p><b>Games:</b> League of Legends</p>
            </div>
            <div class="col-sm-9">
                <br>
                <h2><b>Career:</b></h2>
                <hr>
                <h6><b>2023-2024: Junior</b></h6>
                <p></p>
                <br>

                <br>
                <h2><b>Personal:</b></h2>
                <hr>

                <h5><b>Why did you choose Concordia?</b></h5>
                <p>I choose Concordia for several reasons. One was the DCE program. Another was the atmosphere and the
                    campus.</p>

                <br>

                <h5><b>Why did you choose Esports?</b></h5>
                <p>I play esports because I get to play one of my favorite hobbies with other people. Video games aren't
                    often played with people in person, so playing with people you know in the same place is a fun
                    experience.</p>

                <br>

                <h5><b>What other hobbies do you enjoy?</b></h5>
                <p>I absolutely love playing and collecting board games and tabletop games. I also enjoy camping and
                    spending time outdoors.</p>

                <br>

                <h5><b>Favorite memory about Esports so far?</b></h5>
                <p>My favorite memory would be the Valorant finals last semester. It was a fantastic night; we didn't
                    end up leaving until around 2 AM and it was a super close match.</p>

                <br>

            </div>
        </div>
    </div>

</MainLayout>