---
import MainLayout from "../../layouts/mainlayout.astro";
---

<MainLayout>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><b>Samuel Martin: Freshman</b></h1>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col-sm-3 text-center">
                <img class="contactphoto mx-auto d-block img-fluid" src="Images/profile/SamuelMartin.jpeg" 
                alt="Samuel Martin" transition:name="SamuelMartin">
                <br>
                <p><b>Major:</b> Biology</p>
                <p><b>Home Town:</b> Omaha, Nebraska</p>
                <p><b>Previous School:</b> Concordia Jr./Sr. HS</p>
                <p><b>Games:</b> Smash Bros.</p>
            </div>
            <div class="col-sm-9">
                <br>
                <h2><b>Career:</b></h2>
                <hr>
                <h6><b>2023-2024: Freshman</b></h6>
                <p></p>
                <br>

                <br>
                <h2><b>Personal:</b></h2>
                <hr>

                <h5><b>Why did you choose Concordia?</b></h5>
                <p>Concordia is close to home, has an esports team, and I have heard fantastic things about it from
                    friends, family, and teachers.</p>

                <br>

                <h5><b>Why did you choose Esports?</b></h5>
                <p>I competed in high school, and enjoyed the competitive environment as well as playing with a team.
                </p>

                <br>

                <h5><b>What other hobbies do you enjoy?</b></h5>
                <p>I love to grow vegetables in the summer, as well as walk and play with my dog. </p>

                <br>

                <h5><b>Favorite memory about Esports so far?</b></h5>
                <p>I have had fun both playing with my teammates, and competing in minute to win it and the price is
                    right as a team.</p>

                <br>

            </div>
        </div>
    </div>

</MainLayout>