---
// Imports the header and footer from Main Layout. Can be seen on every screen.
import MainLayout from "../../layouts/mainlayout.astro";
---

<MainLayout>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><b>Sean Synder: Sophomore</b></h1>
            </div>
            <hr>
        </div>

        <!-- Players personal information and image of the player. -->
        <div class="row">
            <div class="col-sm-3 text-center">
                <img class="contactphoto mx-auto d-block img-fluid" src="/Images/profile/SeanSnyder.jpeg" 
                alt="Sean Synder" transition:name="SeanSnyder">
                <br>
                <p><b>Major:</b> Chemistry</p>
                <p><b>Home Town:</b> Kearney, Nebraska</p>
                <p><b>Previous School:</b> Kearney Catholic HS</p>
                <p><b>Games:</b> Valorant</p>
            </div>
            
            <div class="col-sm-9">
                <br>
                <h2><b>Career:</b></h2>
                <hr>
                <h6><b>2023-2024: Sophomore</b></h6>
                <p></p>
                <br>

                <!-- Questions that each player answered. Provides more information/background on the player. -->
                <br>
                <h2><b>Personal:</b></h2>
                <hr>

                <h5><b>Why did you choose Concordia?</b></h5>
                <p>For good education, good community in teachers & coaches, and complete my education to get a good
                    job. </p>

                <br>

                <h5><b>Why did you choose Esports?</b></h5>
                <p>To play games with friends, make new friends, to grow my skill in games.</p>

                <br>

                <h5><b>What other hobbies do you enjoy?</b></h5>
                <p>Making videos for youtube, streaming on twitch, playing games, trying new games.</p>

                <br>

                <h5><b>Favorite memory about Esports so far?</b></h5>
                <p>Having lots of laughs with the team. </p>

                <br>

            </div>
        </div>
    </div>

</MainLayout>