---
import MainLayout from "../../layouts/mainlayout.astro";
---

<MainLayout>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><b>Stephen Weston: Freshman</b></h1>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col-sm-3 text-center">
                <img class="contactphoto mx-auto d-block img-fluid" src="../Images/profile/NoProfilePic.jpg"
                    alt="Stephen Weston" transition:name="StephenWeston">
                <br>
                <p><b>Major:</b> Criminal Justice</p>
                <p><b>Home Town:</b> Stanton, Nebraska</p>
                <p><b>Previous School:</b> Norfolk HS</p>
                <p><b>Games:</b> Rocket League & Valorant</p>
            </div>
            <div class="col-sm-9">
                <br>
                <h2><b>Career:</b></h2>
                <hr>
                <h6><b>2023-2024: Freshman</b></h6>
                <p></p>
                <br>

                <br>
                <h2><b>Personal:</b></h2>
                <hr>

                <h5><b>Why did you choose Concordia?</b></h5>
                <p>I chose concordia because I got a lot of scholarships and this is the only college that gave me
                    scholarships.</p>

                <br>

                <h5><b>Why did you choose Esports?</b></h5>
                <p>I chose esports because I love to game and I wanted to make that happen also I wanted to play
                    seriously.</p>

                <br>

                <h5><b>What other hobbies do you enjoy?</b></h5>
                <p>Some hobbies I enjoy is reading and playing video games along with hanging out with friends.</p>

                <br>

                <h5><b>Favorite memory about Esports so far?</b></h5>
                <p>My favorite memory of esports so far would have to be being able to make so really good friends.</p>

                <br>

            </div>
        </div>
    </div>
</MainLayout>