---
import MainLayout from "../../layouts/mainlayout.astro";
---

<MainLayout>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><b>Taylor Johnson: Senior</b></h1>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col-sm-3 text-center">
                <img class="contactphoto mx-auto d-block img-fluid" src="/Images/profile/TaylorJohnson.jpeg" 
                alt="Taylor Johnson" transition:name="TaylorJohnson">
                <br>
                <p><b>Major:</b> Information Technology</p>
                <p><b>Home Town:</b> Council Bluffs, Iowa</p>
                <p><b>Previous School:</b> Lewis Central HS</p>
                <p><b>Games:</b> Rocket League & Valorant</p>
            </div>

            <div class="col-sm-9">
                <br>
                <h2><b>Career:</b></h2>
                <hr>
                <h6><b>2023-2024: Senior</b></h6>
                <p></p>
                <br>

                <br>
                <h2><b>Personal:</b></h2>
                <hr>

                <h5><b>Why did you choose Concordia?</b></h5>
                <p>I chose Concordia University Nebraska for its small class sizes and personalized academic experience
                    that allows for meaningful relationships with professors. As an IT major, this would be especially
                    beneficial for me to fully engage with the material and excel. Additionally, my sister's positive
                    experience and the university's welcoming atmosphere and strong sense of community confirmed my
                    decision to attend Concordia.</p>

                <br>

                <h5><b>Why did you choose Esports?</b></h5>
                <p>I decided to participate in esports because of a particular experience I had in 2020. As soon as the
                    program opened up, some of my friends expressed their interest in checking out the esports room.
                    Intrigued, I decided to join them. Upon entering the room, we found a couple of people playing
                    Rocket League, and I asked if I could join in on the fun. It turned out that the esports team was in
                    need of one more player to complete their Rocket League team, and they asked me to step in as their
                    third player. This experience sparked my interest in esports, and I have been passionately pursuing
                    it ever since.</p>

                <br>

                <h5><b>What other hobbies do you enjoy?</b></h5>
                <p>I play golf for Concordia and plan to pursue a career in the golf after college by joining the PGA
                    Apprenticeship after finishing college . In winter, I go snowboarding at a nearby ski resort. </p>

                <br>

                <h5><b>Favorite memory about Esports so far?</b></h5>
                <p>One of the most memorable experiences I've had in esports is the people I have met and the friends I
                    have made while playing. Being a part of this community has given me the opportunity to connect with
                    individuals who share my passion for gaming and competition. It's been especially rewarding to be a
                    part of this new and growing community at a small university, where we are able to create and shape
                    the culture around esports. Through all of the late nights practicing, and competing, the
                    relationships I have built with my teammates and fellow gamers are what have made this experience
                    truly special to me.</p>

                <br>

            </div>
        </div>
    </div>
</MainLayout>