---
import MainLayout from "../../layouts/mainlayout.astro";
---

<MainLayout>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><b>Thomas Zimmerman: Junior</b></h1>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col-sm-3 text-center">
                <img class="contactphoto mx-auto d-block img-fluid" src="/Images/profile/ThomasZimmerman.jpeg" alt="Thomas Zimmerman" transition:name="ThomasZimmerman">
                <br>
                <p><b>Major:</b> Business Science</p>
                <p><b>Home Town:</b> Apple Valley, Callifornia</p>
                <p><b>Previous School:</b> Apple Valley HS</p>
                <p><b>Games:</b> Valorant</p>
            </div>
            <div class="col-sm-9">
                <br>
                <h2><b>Career:</b></h2>
                <hr>
                <h6><b>2023-2024: Junior</b></h6>
                <p></p>
                <br>

                <br>
                <h2><b>Personal:</b></h2>
                <hr>

                <h5><b>Why did you choose Concordia?</b></h5>
                <p>I wanted a good Christian based education/
                    community. I knew a few people that had previously gone to Concordia and they had all said this was
                    a fantastic collage. </p>

                <br>

                <h5><b>Why did you choose Esports?</b></h5>
                <p>I like to play video games as well as talk to people. Esports seemed to fit both of those enjoyments.
                </p>

                <br>

                <h5><b>What other hobbies do you enjoy?</b></h5>
                <p>I enjoy playing video games. I also enjoy talking with people.</p>

                <br>

                <h5><b>Favorite memory about Esports so far?</b></h5>
                <p>My favorite memory is the first game Valorant won. To me this showed that we can win anything we put
                    our minds to. </p>

                <br>

            </div>
        </div>
    </div>

</MainLayout>