---
import MainLayout from "../../layouts/mainlayout.astro";
---

<MainLayout>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><b>Tristin Kinderknecht: Senior</b></h1>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col-sm-3 text-center">
                <img class="contactphoto mx-auto d-block img-fluid" src="/Images/profile/TristanKinderknecht.jpeg"
                    alt="Tristin Kinderknecht" transition:name="TristinKinderknecht">
                <br>
                <p><b>Major:</b> Exercise Science</p>
                <p><b>Home Town:</b> Salina, Kansas</p>
                <p><b>Previous School:</b> Salina South HS</p>
                <p><b>Games:</b> Overwatch</p>
            </div>
            <div class="col-sm-9">
                <br>
                <h2><b>Career:</b></h2>
                <hr>
                <h6><b>2023-2024: Senior</b></h6>
                <p></p>
                <br>

                <br>
                <h2><b>Personal:</b></h2>
                <hr>

                <h5><b>Why did you choose Concordia?</b></h5>
                <p>I chose Concorida because of a speech scholarship and the proximity to home.</p>

                <br>

                <h5><b>Why did you choose Esports?</b></h5>
                <p>I chose esports to be more involved and grow friendships.</p>

                <br>

                <h5><b>What other hobbies do you enjoy?</b></h5>
                <p>I enjoy playing sports and being involved in the sports world. It helps me stay involved with the way
                    that sports adapt as an athletic trainer. It also gives me an outlet to be more involved with the
                    friends that I make who also enjoy the same.</p>

                <br>

                <h5><b>Favorite memory about Esports so far?</b></h5>
                <p>My favorite memory from esports was winning our first championship on the valorant team since it's
                    been introduced. It was such an amazing achievement for us that it will forever be the greatest
                    movement.</p>

                <br>

            </div>
        </div>
    </div>

</MainLayout>