---
import MainLayout from "../../layouts/mainlayout.astro";
---

<MainLayout>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><b>Tytus Woodburn - Junior</b></h1>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col-sm-3 text-center">
                <img class="contactphoto mx-auto d-block img-fluid" src="/Images/profile/TytusWoodburn.jpeg" 
                alt="Tytus Woodburn" transition:name="TytusWoodburn">
                <br>
                <p><b>Major:</b> Computer Science</p>
                <p><b>Home Town:</b> York, Nebraska</p>
                <p><b>Previous School:</b> Woodburn Academy</p>
                <p><b>Games:</b> Valorant</p>
            </div>
            <div class="col-sm-9">
                <br>
                <h2><b>Career:</b></h2>
                <hr>
                <h6><b>2023-2024: Junior</b></h6>
                <p></p>
                <br>

                <br>
                <h2><b>Personal:</b></h2>
                <hr>

                <h5><b>Why did you choose Concordia?</b></h5>
                <p>My parents attended Concordia and really enjoyed the experience as well as most of my siblings got
                    their degrees from Concordia.</p>

                <br>

                <h5><b>Why did you choose Esports?</b></h5>
                <p>One of my friends invited me to come play for the team and I really enjoyed the experience.</p>

                <br>

                <h5><b>What other hobbies do you enjoy?</b></h5>
                <p>3d printing, competitive programming, and retro gaming. </p>

                <br>

                <h5><b>Favorite memory about Esports so far?</b></h5>
                <p>Valorant team Winning 2023 NECC division finals.</p>

                <br>

            </div>
        </div>
    </div>

</MainLayout>