---
import MainLayout from "../layouts/mainlayout.astro";
---

<MainLayout>
        <!-- BODY WITH ALL OF THE INFORMATION. -->

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1><b>Ryan Hinds: Head Coach</b></h1>
                </div>
                <hr>
            </div>
    
            <div class="row">
                <div class="col-sm-3">
                    <img class="contactphoto mx-auto d-block img-fluid" src="/Images/Ryan_Hinds.jpg" alt="Ryan Hinds">
                </div>
                <div class="col-sm-9">
    
                    <br>
    
                    <h2><b>About:</b></h2>
    
                    <hr>
    
                    <p>Ryan Hinds is the first esports coach to be hired at Concordia University, Nebraska. Hinds graduated
                        from
                        Oklahoma Christian University in 2015 with a bachelor’s degree in mechanical engineering. He
                        previously worked at Chief Agri in Kearney,
                        Nebraska, as a design engineer.</p>
                    <p>Ryan Hinds is the first esports coach to be hired at Concordia University, Nebraska. Hinds graduated
                        from Oklahoma Christian University in 2015 with a bachelor’s degree in mechanical engineering. He
                        previously worked at Chief Agri in Kearney, Nebraska, as a design engineer. </p>
                    <p>Before becoming Concordia's esports coach, Hinds and his wife, Amanda, started the esports team at
                        Elm Creek High School, one of the first high school esports teams in Nebraska. He coached the Elm
                        Creek team for three years while also helping create the Nebraska Schools eSport Association
                        (NSeSA), a nonprofit organization that promotes esports in Nebraska high schools.</p>
                    <p>Hinds was awarded the High School Coach of the Year by the National Association of Esport Coaches and
                        Directors (NAECAD) in June of 2020. He was also elected the President of the NSeSA in 2019 and has
                        served on their board of directors since 2018.</p>
    
                    <br>
    
                    <h2><b>Contact Information:</b></h2>
    
                    <hr>

                    <li class="nav-item mb-2">Phone: 402-643-7141</li>
                    <li class="nav-item mb-2">Email: ryan.hinds@cune.edu</li>
    
                </div>
            </div>
        </div>
    
        <br>
</MainLayout>