---
import MainLayout from '../layouts/mainlayout.astro';
---

<MainLayout>
	<div class="container">
		<div class="row">
			<img class="img-fluid" src="Images/Room_complete.jpg">
		</div>
	
		<br>
		<br>
	
		<div class="row">
			<div class="col-sm-6 text-center align-self-center">
				<h2><b>Concordia Esports</b></h2>
				<br>
				<p>Varsity Esports Program at Concorida University, Nebraska.</p>
				<br>
			</div>
			<div class="col-sm-6">
				<img class="img-fluid" src="Images/peopleplayinggames.jpeg">
			</div>
		</div>
	
		<br>
		<br>
	
		<div class="row">
			<div class="col-sm-6">
				<img class="img-fluid" src="Images/Computers.jpg">
			</div>
			<div class="col-sm-6 text-center align-self-center">
				<a href="articles.html">
					<br>
					<br>
					<h2><b>Latest Articles</b></h2>
					<br>
					<p>Read up on the lastest news on Esports!
						<p><b>Click Here!</b></p>
					</p>
				</a>
			</div>
		</div>
	
		<br>
	
	</div>
</MainLayout>


