---
import MainLayout from '../layouts/mainlayout.astro';
---

<MainLayout>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><b>League of Legends:</b></h1>
            </div>
            <hr>
            <div class="col-sm-12">

            </div>
            <div class="col-sm-12">The League of Legends team at Concordia University was established in 2020, during
                the inception of the university's esports program. Since joining the NECC Navigators division, the team
                has experienced notable success, which has been a source of pride for the university. This year, the
                team is not only looking to maintain their position, but also to improve their standing by nurturing
                newer players that have joined the team. It is expected that a greater number of talented gamers will
                join the team in the spring, and that the team will continue to raise the bar for esports at Concordia
                University.</div>
        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-sm-12">
                <h2><b>Roster:</b></h2>
            </div>
            <hr>
        </div>

        <a href="/profiles/CodyBender2024">
            <div class="row text-center bg-light">
                <div class="col-lg-2 align-self-center">
                    <img class="personphoto mx-auto d-block" src="/Images/profile/NoProfilePic.jpg" alt="Cody Bender" transition:name="CodyBender">
                </div>
                <div class="col-lg-3 align-self-center">
                    <h3>Cody Bender</h3>
                </div>
                <div class="col-lg-4 align-self-center">Senior</div>
                <div class="bottom-margin col-lg-3 align-self-center">Christian Education Leadership and Psychology
                </div>
            </div>
        </a>

        <br>

        <a href="/profiles/JohnathanHoops2026">
            <div class="row text-center bg-light">
                <div class="col-lg-2 align-self-center">
                    <img class="personphoto mx-auto d-block" src="/Images/profile/JohnathanHoops.jpeg"
                        alt="Johnathan Hoops" transition:name="JohnathanHoops">
                </div>
                <div class="col-lg-3 align-self-center">
                    <h3>Johnathan Hoops</h3>
                </div>
                <div class="col-lg-4 align-self-center">Sophomore</div>
                <div class="bottom-margin col-lg-3 align-self-center">Computer Science</div>
            </div>
        </a>

        <br>

        <a href="/profiles/AbbeyKudma2027">
            <div class="row text-center bg-light">
                <div class="col-lg-2 align-self-center">
                    <img class="personphoto mx-auto d-block" src="/Images/profile/NoProfilePic.jpg" 
                    alt="Abbey Kudma" transition:name="AbbeyKudma">
                </div>
                <div class="col-lg-3 align-self-center">
                    <h3>Abbey Kudma</h3>
                </div>
                <div class="col-lg-4 align-self-center">Freshman</div>
                <div class="bottom-margin col-lg-3 align-self-center">Secondary Education Mathematics</div>
            </div>
        </a>

        <br>

        <a href="/profiles/ParkerReece2025">
            <div class="row text-center bg-light">
                <div class="col-lg-2 align-self-center">
                    <img class="personphoto mx-auto d-block" src="/Images/profile/ParkerReece.jpeg"
                        alt="Parker Reece" transition:name="ParkerReece">
                </div>
                <div class="col-lg-3 align-self-center">
                    <h3>Parker Reece</h3>
                </div>
                <div class="col-lg-4 align-self-center">Junior</div>
                <div class="bottom-margin col-lg-3 align-self-center">DCE</div>
            </div>
        </a>

    </div>

    <br>

</MainLayout>