---
import MainLayout from "../layouts/mainlayout.astro";
---

<MainLayout>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><b>Overwatch:</b></h1>
            </div>
            <hr>
            <div class="col-sm-12">

            </div>
            <div class="col-sm-12">Concordia's Overwatch team was founded in 2020, during the inception of the esports
                program. Since then, the team has been participating in the NECC Emergents division, and their hard work
                and dedication have paid off. In the Spring of 2023, the team finally made it to the finals for their
                division, which was a huge achievement for them. However, the team is not going to rest on their
                laurels. This year, they are more determined than ever to pursue a division title and bring home the
                trophy. They are also looking to improve the talent on the roster, as they know that the competition is
                only going to get tougher. This means that the team is going to be working even harder than before,
                putting in more hours of training and practice, and pushing themselves to the limit. They are determined
                to achieve greatness and put Concordia on the map as one of the top esports teams in the country.</div>

        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-sm-12">
                <h2><b>Roster:</b></h2>
            </div>
            <hr>
        </div>

        <a href="PlayerProfiles/CollinCurtis2026/CollinCurtisProfile2026.html">
            <div class="row text-center bg-light">
                <div class="col-lg-2 align-self-center">
                    <img class="personphoto mx-auto d-block" src="PlayerProfiles/CollinCurtis2026/CollinCurtis.jpeg"
                        alt="Collin Curtis">
                </div>
                <div class="col-lg-3 align-self-center">
                    <h3>Collin Curtis</h3>
                </div>
                <div class="col-lg-4 align-self-center">Sophomore</div>
                <div class="bottom-margin col-lg-3 align-self-center">Secondary Ed Social Science </div>
            </div>
        </a>

        <br>

        <a href="PlayerProfiles/CodyBender2024/CodyBenderProfile2024.html">
            <div class="row text-center bg-light">
                <div class="col-lg-2 align-self-center">
                    <img class="personphoto mx-auto d-block" src="Images/NoProfilePic.jpg" alt="Cody Bender">
                </div>
                <div class="col-lg-3 align-self-center">
                    <h3>Cody Bender</h3>
                </div>
                <div class="col-lg-4 align-self-center">Senior</div>
                <div class="bottom-margin col-lg-3 align-self-center">Christian Education Leadership and Psychology
                </div>
            </div>
        </a>

        <br>

        <a href="PlayerProfiles/AndrewFynaardt2026/AndrewFynaardtProfile2026.html">
            <div class="row text-center bg-light">
                <div class="col-lg-2 align-self-center">
                    <img class="personphoto mx-auto d-block" src="PlayerProfiles/AndrewFynaardt2026/AndrewFynaardt.jpeg"
                        alt=".">
                </div>
                <div class="col-lg-3 align-self-center">
                    <h3>Andrew Fynaardt</h3>
                </div>
                <div class="col-lg-4 align-self-center">Sophomore</div>
                <div class="bottom-margin col-lg-3 align-self-center">Computer Science and Mathmatics</div>
            </div>
        </a>

        <br>

        <a href="PlayerProfiles/AbrahamGomezJr2027/AbrahamGomezJrProfile2027.html">
            <div class="row text-center bg-light">
                <div class="col-lg-2 align-self-center">
                    <img class="personphoto mx-auto d-block" src="Images/NoProfilePic.jpg" alt=".">
                </div>
                <div class="col-lg-3 align-self-center">
                    <h3>Abraham Gomez Jr.</h3>
                </div>
                <div class="col-lg-4 align-self-center">Freshman</div>
                <div class="bottom-margin col-lg-3 align-self-center">Computer Science and Mathmatics</div>
            </div>
        </a>

        <br>

        <a href="PlayerProfiles/NoahLeeper2025/NoahLeeper2025.html">
            <div class="row text-center bg-light">
                <div class="col-lg-2 align-self-center">
                    <img class="personphoto mx-auto d-block" src="PlayerProfiles/NoahLeeper2025/NoahLeeper.jpeg"
                        alt="Noah Leeper">
                </div>
                <div class="col-lg-3 align-self-center">
                    <h3>Noah Leeper</h3>
                </div>
                <div class="col-lg-4 align-self-center">Junior</div>
                <div class="bottom-margin col-lg-3 align-self-center">Computer Science</div>
            </div>
        </a>

        <br>

        <a href="PlayerProfiles/TristanKinderknecht2024/TristanKinderknechtProfile2024.html">
            <div class="row text-center bg-light">
                <div class="col-lg-2 align-self-center">
                    <img class="personphoto mx-auto d-block"
                        src="PlayerProfiles/TristanKinderknecht2024/TristanKinderknecht.jpeg"
                        alt="Tristan Kinderknecht">
                </div>
                <div class="col-lg-3 align-self-center">
                    <h3>Tristan Kinderknecht (Captain)</h3>
                </div>
                <div class="col-lg-4 align-self-center">Senior</div>
                <div class="bottom-margin col-lg-3 align-self-center">Exercise Science</div>
            </div>
        </a>

    </div>

    <br>
</MainLayout>