---
import MainLayout from '../layouts/mainlayout.astro';

let title = 'Concordia Esports - Rocket League';
---

<MainLayout>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><b>Rocket League:</b></h1>
            </div>
            <hr>
            <div>
                Concordia's Rocket League team was founded in 2020, at the inception of the program.
                Since then, the team has been making steady progress, with a varsity squad comprising of three players
                who are ranked around the Champion 1 - 3 skill level. Over the course of their time in the NECC
                Navigators division, they have achieved several notable victories and have consistently improved their
                gameplay. This year, the team is looking to take on new challenges as they join a new division, which
                will undoubtedly test their skills and push them to new heights. Despite the challenges ahead,
                Concordia's Rocket League team is committed to hard work, dedication, and teamwork, and is excited to
                see what the future holds for them.
            </div>

        </div>

        <br>

        <div class="row">
            <div class="col-sm-12">
                <h2><b>Roster:</b></h2>
            </div>
            <hr>
        </div>

        <a href="/profiles/EthanCronin2024/EthanCronin2024">
            <div class="row text-center bg-light">
                <div class="col-lg-2 align-self-center">
                    <img class="personphoto mx-auto d-block" src="src/pages/profiles/EthanCronin2024/EthanCronin.jpeg"
                        alt="Ethan Cronin">
                </div>
                <div class="col-lg-3 align-self-center">
                    <h3>Ethan Cronin (Captain)</h3>
                </div>
                <div class="col-lg-4 align-self-center">Senior</div>
                <div class="bottom-margin col-lg-3 align-self-center">Criminal Justice</div>
            </div>
        </a>

        <br>

        <a href="/profiles/TaylorJohnson2024/TaylorJohnson2024">
            <div class="row text-center bg-light">
                <div class="col-lg-2 align-self-center">
                    <img class="personphoto mx-auto d-block" src="src/pages/profiles/TaylorJohnson2024/TaylorJohnson.jpeg"
                        alt="Taylor Johnson">
                </div>
                <div class="col-lg-3 align-self-center">
                    <h3>Taylor Johnson</h3>
                </div>
                <div class="col-lg-4 align-self-center">Senior</div>
                <div class="bottom-margin col-lg-3 align-self-center">Information Technology</div>
            </div>
        </a>

        <br>

        <a href="PlayerProfiles/DennyMcatee2027/DennyMcateeProfile2027.html">
            <div class="row text-center bg-light">
                <div class="col-lg-2 align-self-center">
                    <img class="personphoto mx-auto d-block" src="src/profiles/DennyMcatee2027/DennyMcatee.jpeg"
                        alt="Denny Mcatee">
                </div>
                <div class="col-lg-3 align-self-center">
                    <h3>Denny Mcatee</h3>
                </div>
                <div class="col-lg-4 align-self-center">Freshman</div>
                <div class="bottom-margin col-lg-3 align-self-center">Psychology</div>
            </div>
        </a>

        <br>

        <a href="PlayerProfiles/StephenWeston2027/StephenWestonProfile2027.html">
            <div class="row text-center bg-light">
                <div class="col-lg-2 align-self-center">
                    <img class="personphoto mx-auto d-block" src="Images/NoProfilePic.jpg" alt="Steven Weston">
                </div>
                <div class="col-lg-3 align-self-center">
                    <h3>Stephen Weston</h3>
                </div>
                <div class="col-lg-4 align-self-center">Freshman</div>
                <div class="bottom-margin col-lg-3 align-self-center">Criminal Justice</div>
            </div>
        </a>

        <br>

    </div>
</MainLayout>