---
import MainLayout from "../layouts/mainlayout.astro";
---

<MainLayout>
    <!-- BODY WITH ALL OF THE INFORMATION. -->

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><b>Super Smash Bros:</b></h1>
            </div>
            <hr>
            <div class="col-sm-12">

            </div>
            <div class="col-sm-12">Concordia's Smash Bros team was founded in 2020 at the inception of the esports
                program. The Smash Bros team at Concordia has been building up a foundation since its start with many of
                the players finding success and competing in playoffs and nationals. The goal for this year is to build
                up roster talent and find a championship in the NECC.</div>
        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-sm-12">
                <h2><b>Roster:</b></h2>
            </div>
            <hr>
        </div>

        <a href="PlayerProfiles/CollinCurtis2026/CollinCurtisProfile2026.html">
            <div class="row text-center bg-light">
                <div class="col-lg-2 align-self-center">
                    <img class="personphoto mx-auto d-block" src="PlayerProfiles/CollinCurtis2026/CollinCurtis.jpeg"
                        alt="Collin Curtis">
                </div>
                <div class="col-lg-3 align-self-center">
                    <h3>Collin Curtis</h3>
                </div>
                <div class="col-lg-4 align-self-center">Sophomore</div>
                <div class="bottom-margin col-lg-3 align-self-center">Secondary Ed Social Science </div>
            </div>
        </a>

        <br>

        <a href="PlayerProfiles/EdumarGarcia2025/EdumarGarciaProfile2025.html">
            <div class="row text-center bg-light">
                <div class="col-lg-2 align-self-center">
                    <img class="personphoto mx-auto d-block" src="PlayerProfiles/EdumarGarcia2025/EdumarGarcia.jpeg"
                        alt="Edumar Garcia">
                </div>
                <div class="col-lg-3 align-self-center">
                    <h3>Edumar Garcia</h3>
                </div>
                <div class="col-lg-4 align-self-center">Junior</div>
                <div class="bottom-margin col-lg-3 align-self-center">Rec & Sports</div>
            </div>
        </a>

        <br>

        <a href="PlayerProfiles/SamuelMartin2027/SamuelMartinProfile2027.html">
            <div class="row text-center bg-light">
                <div class="col-lg-2 align-self-center">
                    <img class="personphoto mx-auto d-block" src="PlayerProfiles/SamuelMartin2027/SamuelMartin.jpeg"
                        alt="Samuel Martin">
                </div>
                <div class="col-lg-3 align-self-center">
                    <h3>Samuel Martin</h3>
                </div>
                <div class="col-lg-4 align-self-center">Freshman</div>
                <div class="bottom-margin col-lg-3 align-self-center">Biology</div>
            </div>
        </a>

        <br>

    </div>
</MainLayout>